.important/IF1210_FormAsistensiTB_sem22122.docx
.important/Laporan.gdoc
.important/Pembagian Tugas.pdf
.important/Tabel.gsheet
test.py
functions/__pycache__/basic.cpython-39.pyc
functions/__pycache__/desktop.ini
